* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header-container {
  display: flex;

  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #0025FA;
}

.header-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.header-container h1 {
  padding-left: 4.25rem;
  color: #fff;
  font-weight: 500;
}

/* Upload */

input[type="file"] {
  display: none;
}

.upload-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0025FA;
  text-align: center;
  margin: 25px 15px 60px 15px;
  color: #0025FA;
  font-size: 0.625rem;
}

/* Information Container */

.info-container {
  margin: 15px;
}

.info {
  margin-top: 20px
}

.info-container input[type="text"], .info-container input[type="number"] {
  border: none;
  width: 100%;
  padding: 10px 0;
}

/* Publish */

.post-container button {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FFD700;
}
