* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
}

/* SEARCH BAR CONTAINER */

.searchbar-container {
  display: flex;
  background-color: #0022EE;
  align-items: center;
  max-height: 50px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

.searchbar {
  height: 3.125rem;
  width: 90%;
  display: flex;
  cursor: pointer;
  padding-left: 0.625rem;
  padding-right: 0.3125rem;
  border-radius: 30px;
  align-items: center;
}

.searchbar input{
  width: 100%;
  height: 2.1875rem;
  padding: 0.3125rem 1.25rem;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #B3B3B5;
}

.chat-button {
  width: 10%;
  margin: 0.3125rem;
  padding-top: 0.3125rem;
  padding-right: 1.25rem;
}

/* QUICK BUTTONS */
.quick-btn-container {
  display: flex;
}

.shop-btn-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.shop-btn-container a, .services-btn-container a {
  width: 100%;
  padding: 0.625rem 0;
  background-color: #0025FA;
  text-decoration: none;
  text-align: center;
  color: #FFFEDF;
  font-weight: 500;
}

.shop-btn-container button {
  border-right:  0.125rem  solid rgba(0, 0, 0, 0.1);
}

.services-btn-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

/* SERVICE ITEMS */

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 11.25rem;
}

.service-item-container {
  display: flex;
  flex-direction: column;
  width: 21rem;
  height: 11.25rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  color: #000;
  text-decoration: none;
}

.service-item-container img {
  width: 21rem;
  height: 5.625rem;
}

.description-container {
  display: flex;
  flex-grow: 1;
  height: 50%;
}

.description-title {
  width: 90%;
  margin: 10px;
}

.description-title h3{
  font-size: 1rem;
}

.description-title p{
  font-size: 0.75rem;
}

.price {
  display: flex;
  align-items: center;
  background-color: #EDE518;
}

.price p {
  font-size: 0.6rem;
  text-align: center;
  margin: 2.5px;
  font-weight: 700;
}

.new-service-item {
  display: none;
}

/* NAVBAR */

.navbar-container {
  position: fixed;
  bottom:0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-utils-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3);
}

#home-btn {
  position: fixed;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
}

.icon-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  align-items: center;
  margin: 5px 100px;
}

.menu-container {
  display: none;
}

.menu-container.visible {
  display: flex;
  justify-content: space-around;
  margin: 25px 25px 50px;
  width: 100%;
}

.menu-container a {
  width: 75px;
  height: 75px;
  background-color: #0025FA;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

